* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(205, 205, 205);
    height: 100vh;
}

/* vars */

:root {
    /* colors */
    /* header + footer */
    --clr1: #ff7f00;
    /* search + devloper info*/
    --clr2: #ffffff;
}

/* typography */

@font-face {
    font-family: eruo;
    src: url('../fonts/eurof/eurof55.ttf');
}

@font-face {
    font-family: lato;
    src: url('../fonts/lato/Lato-Regular.ttf');
}



/* font awsome */

@font-face {
    font-family: fa;
    src: url('../fonts/brand-font/fa-brands-400.ttf');
}

.fa::before {
    font-family: fa;
}

.fa.facebook::before {
    content: "\f39e";
}

/* basices */

/* header */

.main-header {
    padding: 6px 10px;
    background-color: var(--clr1);
}

.main-header .logo {
    cursor: pointer;
    display: flex;
    width: 50vw;
    height: 10vw;
    background-image: url('../imgs/LOGO.png');
    justify-self: center;
    align-self: center;
    background-size: cover;
    transition: 1.2s;
}

.ul-header a {
    margin: 0 10px;
    color: var(--clr2);
    text-decoration: none;
}

.ul-header {
    flex-direction: row;
    padding-left: 0px;
}

.manu-toggle-btn {
    display: none;
}

/* search-bar */

.search-bar {
    padding: 10px 0px;
    align-self: center;
    background-color: var(--clr2);
}

.keyword-container {
    font-family: eruo;
    align-self: center;
}

.key-word {
    margin: 0 5px;
}

.keyword-container .more {
    height: 20px;
}

/* meme gallery */

.grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.add-meme-img {

    flex-direction: column;
    background-color: rgba(108, 108, 108, 0.649);
    align-items: center;
    justify-content: center;
}

.add-meme-img input {
    width: 80px;
}

.meme-imgs {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    justify-self: center;
    background-size: cover;
    transition: 1.5s;
}

.meme-imgs:hover {
    cursor: pointer;
    width: 180px;
    height: 180px;
}

/* canvas */

.meme-editor {
    margin: 10px 10px;
    justify-content: center;
    flex-direction: column;
}


.meme-canvas {
    display: block;
    margin: auto;
    border: solid 1px black;
    border-radius: 10px;
    width: 250px;
}

.canvas-container {
    width: 90vw;
    margin: 0 auto;
}

.editor-tools {
    font-family: lato;
    align-self: center;
    margin: 10px;
    width: max-content;
    border-radius: 10px;
    background-color: var(--clr2);
    flex-direction: column;
    height: 100%;
    padding: 10px;
}


.editor-tools a {
    margin: 0 auto;
    color: black;
    text-decoration: none;
}

.editor-tools button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px -16px 17px -20px rgb(0 0 0 / 69%) inset;
}

.line-color-editor input {
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.line-color-editor {
    width: max-content;
    margin-top: 10px;
}

.move-line {
    margin: auto;
}

.move-line button {
    background-color: #00000000;
}

.font-size {
    justify-content: space-around;
}

.font-size button {
    width: 30%;
}

.line-tools {
    margin: 0 auto;
}

/* developer info */

.developer-info {
    padding: 10px 0;
    background-color: var(--clr2);
}

.info-container {
    justify-content: center;
}

.info-text {
    flex-direction: column;
    padding: 20px 5px;
    justify-content: space-between;

}

.selfi {
    background-image: url('../imgs/yuval_selfi.jpg');
    border-radius: 50%;
    width: 160px;
    height: 160px;
    /* justify-self: center; */
    background-size: cover;
}

.developer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.developer-links a {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.5);
    font-size: 1rem;
    color: var(--clr2);
    text-decoration: none;
}

/* footer */

footer {
    background-color: var(--clr1);
    text-align: center;
    padding: 50px 0;
    /* align-self: end; */
}

footer .logo {
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    background-image: url('../imgs/LOGO.png');
    height: 2rem;
    width: 10rem;
    justify-self: center;
    align-self: center;
    background-size: cover;
}

/* helpres */

.flex {
    display: flex
}

.felx.aling-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    list-style-type: none;
}


.btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* mobile */

@media (min-width: 580px) {
    .main-header .logo {
        width: 20vw;
        height: 4vw;
    }
}

@media (max-width: 780px) {

    .meme-imgs:nth-child(even) {
        justify-self: start;
    }

    .meme-imgs:nth-child(odd) {
        justify-self: end;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .manu-toggle-btn {
        display: block;
        height: 2em;
        align-self: center;
        color: var(--clr2);
        font-size: 1.5em;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    body.menu-open .ul-header {
        max-height: 100vh;
    }

    body.menu-open .main-screen {
        display: block;
    }

    .ul-header {
        width: 100%;
        position: absolute;
        transform: translateY(100%);
        background-color: var(--clr1);
        right: 0;
        top: -71px;
        justify-content: flex-end;
        flex-direction: column;
        max-height: 0;
        padding-left: 0px;
        overflow: hidden;
        z-index: 2;
        transition: max-height 1s, box-shadow 0.6s;
    }

    .ul-header li {
        box-shadow: inset 0px -6px 8px 0px rgb(0 0 0 / 20%);
        text-align: center;
        padding: 10px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.499);
    }

    .ul-header a:hover {
        color: rgb(255, 191, 117);
    }

    .main-screen {
        display: none;
        position: fixed;
        inset: 0;
        background-color: #0000007b;
        cursor: pointer;
        transform: opacity 0.6s;
        z-index: 1;
    }

}

@media (min-width: 780px) {

    .search-bar {
        padding: 10px 10px;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1060px) {

    .canvas-container {
        margin: 0 10px;
        justify-content: space-around;
        width: 500px;
    }

    .meme-canvas {
        margin: 10px;
        width: 500px;
    }

    .meme-editor {
        flex-direction: row;
    }

    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}