* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color: rgb(205, 205, 205);
    /* text-align: center; */
    height: 100vh;
}

/* vars */

:root {
    /* colors */
    /* header + footer */
    --clr1: #ff7f00;
    /* search + devloper info*/
    --clr2: #ffffff;
}

/* basices */

/* header */

.main-header {
    padding: 6px 10px;
    background-color: var(--clr1);
}

.main-header .logo {
    display: flex;
    width: 250px;
    height: 32px;
    background-image: url('../imgs/LOGO.png');
    justify-self: center;
    align-self: center;
    background-size: cover;
}

.ul-header a {
    margin: 0 10px;
    color: var(--clr2);
    text-decoration: none;

}

.ul-header {
    flex-direction: row;
    padding-left: 0px;
}

/* search-bar */

.search-bar {
    padding: 10px 10px;

    align-self: center;
    background-color: var(--clr2);
}

.keyword-container {
    align-self: center;
}

.key-word {
    margin: 0 5px;
}

.keyword-container .more {
    height: 20px;
}

/* meme gallery */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

}


.add-meme-img {

    flex-direction: column;
    background-color: rgba(108, 108, 108, 0.649);
    align-items: center;
    justify-content: center;
    /* border-radius: 20px; */
}

.add-meme-img input {
    width: 80px;
}

.meme-imgs {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    justify-self: center;
    background-size: cover;
    margin: 10px 0;
    transition: 1.5s;
}

.meme-imgs:hover {
    cursor: pointer;
    width: 180px;
    height: 180px;
}


/* canvas */

.meme-editor {
    margin: 10px 10px;
    justify-content: center;
    flex-direction: column;
}


.meme-canvas {
    display: block;
    margin: auto;
    width: 250px;
}

.canvas-container {
    width: 90vw;
    margin: 0 auto;
}

.editor-tools {

    align-self: center;
    margin: 10px;
    width: max-content;
    border-radius: 10px;
    background-color: var(--clr2);
    flex-direction: column;
    height: 100%;
    padding: 10px;
}


.editor-tools a {
    margin: 0 auto;
    color: black;
    text-decoration: none;
}

.editor-tools button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 5px;
}

.line-color-editor input {
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.line-color-editor {
    width: max-content;
    margin-top: 10px;
}

.move-line {
    margin: auto;
}

.move-line button {
    background-color: #00000000;
}

.font-size {
    margin-top: 10px;
    justify-content: space-around;
}

.font-size button {
    width: 30%;
}

.line-tools {
    margin: 0 auto;
}

/* developer info */

.developer-info {
    padding: 10px 0;
    background-color: var(--clr2);
}

.info-container {
    justify-content: center;
}

.info-text {
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px 0 20px 0;
    justify-content: space-between;

}

.selfi {
    background-image: url('../imgs/yuval_selfi.jpg');
    border-radius: 50%;
    width: 160px;
    height: 160px;
    /* justify-self: center; */
    background-size: cover;
}

/* footer */

footer {
    background-color: var(--clr1);
    text-align: center;
    padding: 50px 0;
    /* align-self: end; */
}

/* helpres */

.flex {
    display: flex
}

.felx.aling-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    list-style-type: none;
}

.btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* mobile */
@media (min-width: 780px) {

    .main-header .logo {
        height: 50px;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1060px) {

    .canvas-container {
        margin: 0 10px;
        justify-content: space-around;
        width: 500px;
    }


    .meme-canvas {
        margin: 10px;
        width: 500px;
    }

    .meme-editor {
        flex-direction: row;
    }

    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}